html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/* Margin and padding reset */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
figure,
blockquote,
fieldset,
pre,
hr,
form,
table,
input,
textarea,
th,
td {
    margin: 0;
    padding: 0;
}

/* Typography reset */
body {
    line-height: 1.5;
    font-family: Arial, sans-serif; /* Set a default font-family */
}

/* Remove default list styles */
ul, ol {
    list-style: none;
}

/* Remove default hyperlink styles */
a {
    text-decoration: none;
    color: inherit;
}

/* Remove default button styles */
button {
    background: none;
    border: none;
    padding: 0;
} 
