

body {
  background-color: #d3d3d3;
  font-family: "Times New Roman", Times, serif;
}

section {
  background-color: #FCFBF4;
  width: 800px;
  display: block;
  margin: 20px auto;
  padding: 20px;
}

h1, h3, h4 {
  text-align: center;
}

h1, h2, h3 {
  text-decoration: underline;
} 
img {
  width: 500px;
  height: auto;
  border: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

iframe {
   width: 560px;
  height: 315px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
